In [34]:
cal_recommend_index(2,1,4,similar_matrix=similar_matrix,up_matrix=up_matrix)

C:\Users\fzh00\AppData\Local\Temp\ipykernel_18264\1222442289.py:2: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  similar_k_users=similar_matrix.loc[user_id,:].sort_values(ascending=False)[1:k+1].sort_index()

1.3663586097888587

In [31]:
def cal_recommend_index(k,user_id,item_id,similar_matrix,up_matrix):
    similar_k_users=similar_matrix.loc[user_id,:].sort_values(ascending=False)[1:k+1].sort_index()
    similar_id_values=up_matrix.loc[similar_k_users.index,item_id]
    u,v=similar_k_users,similar_id_values
    above=float(u@v)
    if(v==0).all():
        return 0
    below=float(u.sum())
    return above/below

In [30]:
#计算预测的分值
u,v=similar_k_users,similar_id_values
above=float(u@v) #矩阵相乘
below=float(u.sum())
score=above/below
score

1.3522384735811628

In [29]:
#根据这前看相似用户对目标评分
similar_id_values=up_matrix.loc[similar_k_users.index,item_id]
similar_id_values

user_id
1    3.0
3    0.0
Name: 2, dtype: float64

In [25]:
# 找出最想似的前2个用户
similar_k_users=similar_matrix.loc[user_id,:].sort_values(ascending=False)[1:k+1].sort_index()
similar_k_users

C:\Users\fzh00\AppData\Local\Temp\ipykernel_18264\2089729716.py:2: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  similar_k_users=similar_matrix.loc[user_id,:].sort_values(ascending=False)[1:k+1].sort_index()

user_id
1    0.749269
3    0.913017
Name: 2, dtype: float64

In [20]:
#待要推荐的用户是谁
#选定你前几个朋友
#推荐前几个商品
k=2
user_id=2
item_id=2

In [18]:
# 计算用户的相似性矩阵
similar_matrix=pd.DataFrame(cosine_similarity(up_matrix),index=up_matrix.index,columns=up_matrix.index)
similar_matrix

user_id         1         2         3         4         5         6
user_id
1        1.000000  0.749269  0.626680  0.218282  0.300000  0.000000
2        0.749269  1.000000  0.913017  0.000000  0.000000  0.157960
3        0.626680  0.913017  1.000000  0.000000  0.000000  0.403687
4        0.218282  0.000000  0.000000  1.000000  0.970143  0.639137
5        0.300000  0.000000  0.000000  0.970143  1.000000  0.527046
6        0.000000  0.157960  0.403687  0.639137  0.527046  1.000000

In [17]:
#填充0
up_matrix=up_matrix.fillna(0)
up_matrix

product_id    1    2    3    4    5    6
user_id
1           4.0  3.0  0.0  0.0  5.0  0.0
2           5.0  0.0  4.0  0.0  4.0  0.0
3           4.0  0.0  5.0  3.0  4.0  0.0
4           0.0  3.0  0.0  0.0  0.0  5.0
5           0.0  4.0  0.0  0.0  0.0  4.0
6           0.0  0.0  2.0  4.0  0.0  5.0

In [16]:
#转换成我们需要的那种数据结构 透视表
up_matrix=df.pivot_table(index="user_id",columns="product_id",values="score")
up_matrix

product_id    1    2    3    4    5    6
user_id
1           4.0  3.0  NaN  NaN  5.0  NaN
2           5.0  NaN  4.0  NaN  4.0  NaN
3           4.0  NaN  5.0  3.0  4.0  NaN
4           NaN  3.0  NaN  NaN  NaN  5.0
5           NaN  4.0  NaN  NaN  NaN  4.0
6           NaN  NaN  2.0  4.0  NaN  5.0

In [15]:
df=pd.read_csv("example.txt",header=None,names=["user_id","product_id","score"])
df.head()

   user_id  product_id  score
0        1           1      4
1        1           2      3
2        1           5      5
3        2           1      5
4        2           3      4

In [14]:
#计算相似性
u=np.array([[3,4,0,3,5],
[5,0,4,3,1]])
cosine_similarity(u)

array([[1.        , 0.52867272],
       [0.52867272, 1.        ]])

In [13]:
os.__file__

'C:\\ProgramData\\Anaconda3\\envs\\pythonProject_anaconda\\lib\\os.py'

In [12]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity(df)

array([[1.        , 0.99705449, 0.99227788],
       [0.99705449, 1.        , 0.99886814],
       [0.99227788, 0.99886814, 1.        ]])

In [11]:
import numpy as np
dist=np.linalg.norm(df.iloc[0]-df.iloc[1])
dist

1.0

In [10]:
df=pd.DataFrame([[3,1],[4,1],[5,1]],columns=["用户1","用户2"],index=["物品A","物品B","物品C"])
df
df.corr()

     用户1  用户2
物品A    3    1
物品B    4    1
物品C    5    1

     用户1  用户2
用户1  1.0  NaN
用户2  NaN  NaN

In [8]:
import pandas as pd

In [3]:
import os
os.chdir('C:\Data\Jupyter_file\机器学习')

In [5]:
import matplotlib.pyplot as plt
plt.style.use('seaborn')
#设置字体为黑色
plt.rcParams['font.family']='SimHei'
#显示符号
plt.rcParams['axes.unicode_minus']=False#显示负号\n",
%matplotlib inline

C:\Users\fzh00\AppData\Local\Temp\ipykernel_18264\2643862243.py:2: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn')

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"